li,
li a

{
    border: 1px solid !important;
}
button.navbar-toggle {
    border: 1px solid !important;
    width: 75px;
    height: 75px;
    padding-top: 23px;
    padding-bottom: 35px;
    font-size: 18px;
    border-radius: 50%;

}
.fa-color {
    /*color: rgba(0, 188, 212, 0.2);*/
    /*color: transparent;*/
}
.navbar-default {
    background: transparent !important;

}

.navbar-default .navbar-nav> li
/*.navbar-default .navbar-nav> li > a*/
{
    /*background: transparent;*/
}


.navbar-default .navbar-nav> li > a
{
    width: 75px;
    height: 75px;
    padding-top: 27px;
    padding-bottom: 30px;
    font-size: 18px;
    border-radius: 50%;
}

.navbar-default .navbar-nav> li:not(.active) > a {
    background-color: #e0fdd4;
    /*background-color: transparent;*/

}
/*.navbar-default .navbar-nav> li > a,*/
ul.navbar-nav{
    float: right;
}

.navbar-default .navbar-nav>li.active>a,
.navbar-default .navbar-nav>li.active>a:hover,
.navbar-default .navbar-nav>li:hover > a{
    color: #020005;
    background-color: #e85356;
}
.navbar-default .navbar-nav > li {
    font-size: 18px;

}